/* start work */
body {
    font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* banner */
.banner {
    background-color: rgba(225, 255, 143, 1);
}
.banner__background {
    background: url('../src/img/animation_icons/main-star.png') no-repeat top right,
    url('../src/img/animation_icons/star_desctop_one.png') no-repeat 4% 19%,
    url('../src/img/animation_icons/star_desctop_two.png') no-repeat 12% 10%,
    url('../src/img/animation_icons/star_desctop_three.png') no-repeat 76% 89%,
    url('../src/img/animation_icons/star_desctop_four.png') no-repeat 70% 77%;

    padding: 196px 0 156px 0;
}
.banner-content {
    max-width: 769px;
}
.banner__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 24px;
}
.banner__subtitle {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
}
.banner__subtitle span {
    font-weight: 600;
}
.banner__btn {
    background-color: rgba(32, 32, 39, 1);
    padding: 16px 65px;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    color: rgba(255, 255, 255, 1);
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}
.banner__btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* banner */


/* scroll-bar */
.scroll-bar {
    background-color: rgba(188, 236, 48, 1);
    padding: 27px 0;
}
.scroll-bar__content {
    display: flex;
    gap: 51px;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
}
.scroll-bar__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 4%;
    text-transform: uppercase;
}
/* scroll-bar */

/* about games */

.about-games {
    background-color: rgba(32, 32, 39, 1);
}
.about-games_background {
    padding: 94px 0 96px 0;
    background: url('../src/img/animation_icons/about_game_star.png') no-repeat top right,
    url('../src/img/animation_icons/about-games_star_one.png') no-repeat 1% 50%,
    url('../src/img/animation_icons/about-games_star_two.png') no-repeat 3% 58%;
}
.main-subtitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: white;
}
.about-games__title {
    margin-bottom: 24px;
}
.about-games__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-bottom: 72px;
    color: white;
}
.about-games__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.about-games__each-card {
    background-color: white;
    max-width: 378px;
    border-radius: 30px;
}
.games-card__img img {
    border-radius: 30px; 
}
.games-card__content {
    padding: 40px 32px 40px 32px;
}
.games-card__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    vertical-align: bottom;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 52px;
    max-width: 112px;
    padding: 8px 16px;
    margin-bottom: 16px;
}
.games-card__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}
/* about games */